.inputCheckbox {
  float: right;
  width: 20em;
  height: auto;
  align-items: center;
}

.cardText {
  margin-top: 5px;
}

.cardCheckbox {
  float: right;
}

.cardMain {
  margin-top: 5px;
  margin-bottom: 5px;
}

.button {
  margin-top: 2px;
  margin-right: 2px;
}

.toDoList {
  margin-bottom: 57px;
}

.requiredField {
  border-color: red;
}

.positionRequiredFieldText {
  font-size: 15px;
  color: red;
}
